<h1>Bienvenue dans la création d'utilisateur</h1>
<form action="/create" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
  User name :<br>
    <input type="text" name="user_name" required="autofocus">
  <br>
  bio :<br>
  <input type="textarea" name="bio" value="" required="autofocus">
  <br><br>
  <input type="submit" value="Valider">
</form>
